<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" media="all" href="/static/index.css">
    <link rel="stylesheet" media="all" href="/static/highlight/<%= highlight %>.css">
  </head>
  <body>
    <div class="markdown-body">
<%= markdown %>
    </div>
    <div id="master" class="spinner-grow" role="status"></div>
    <script src="/static/index.js"></script>
  </body>
</html>
