@media print {
  html {
    font-size: 14px;
  }

  img.print20 {
    max-width: 20%;
  }
  img.print30 {
    max-width: 30%;
  }
  img.print40 {
    max-width: 40%;
  }
  img.print50 {
    max-width: 50%;
  }
  img.print60 {
    max-width: 60%;
  }
  img.print70 {
    max-width: 70%;
  }
  img.print80 {
    max-width: 80%;
  }

  .spinner-grow {
    display: none;
    visibility: hidden;
  }

  .markdown-body code,
  .markdown-body pre,
  .markdown-body tt {
    background-color: initial;
    border-radius: initial;
    padding: initial;
  }

  .markdown-body code:before,
  .markdown-body code:after,
  .markdown-body tt:before,
  .markdown-body tt:after {
    content: "\00a0";
    letter-spacing: -0.5em
  }

  .markdown-body pre {
    border-radius: 0.5rem;
    border: 1px solid rgba(32,32,32,.1);
    padding: .5rem .5rem;
  }

  .katex-display {
    font-size: 1rem;
  }

  x-whiteboard {
    box-shadow: initial;
    box-sizing: border-box;
    border: none;
  }

  x-note,
  x-whiteboard .painter,
  todo,
  remark {
    display: none;
    visibility: hidden;
  }
}
