@media all {
  html {
    font-size: 35px; /* font-size for all chars */
    box-sizing: border-box;
    --size-h-steps: 1;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    --font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: var(--font-size);
    margin: 2em;
    line-height: 1.5rem;
  }
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  a, a:active {
    color: #0366d6;
    text-decoration: none;
  }
  a[name] {
    color: unset;
  }
  img {
    max-width: 100%;
  }
  kbd {
    --bg-gray: #aaa;
    display: inline-block;
    padding: 0 0.1rem;
    color: #333;
    vertical-align: middle;
    background-color: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bg-gray);
    border-image: none;
    border-radius: 0.3rem;
    box-shadow: 0 -0.1rem 0 var(--bg-gray) inset;
  }

  [type=checkbox], [type=checkbox]:focus {
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    border-radius: 5px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 0.15rem;
    position: relative;
    overflow: hidden;
  }
  [type=checkbox]:checked:after {
    content: "";
    display: inline-block;
    height: 0.35rem;
    width: 0.7rem;
    border-left: 5px solid;
    border-bottom: 5px solid;
    transform: rotate(-45deg);
    bottom: 0.4rem;
    left: 0.1rem;
    position: relative;
    color: #666;
   }

  .center {
    text-align: center;
    width: 100%;
  }

  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }
  .spinner-grow {
    --size: 25px;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    vertical-align: text-bottom;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
  }
  html.slave .spinner-grow {
    display: none;
  }

  .markdown-body {
    --fg-hr: #bbb;
    --fg-blockquote: #555;
    --fg-border: #eee;
    --height-hr1: .2rem;
    --height-hr2: .15rem;
    --height-hr3: .1rem;
    --bg-code: rgba(32,32,32,0.1);
    word-wrap: break-word;
    width: 100%;
    overflow-x: hidden;
  }
  .markdown-body h0,
  .markdown-body h1 {
    --size: calc(1.65rem * var(--size-h-steps));
    font-size: var(--size);
    line-height: var(--size);
    border-bottom: var(--height-hr1) solid var(--fg-hr);
  }
  .markdown-body h0 {
    font-weight: bold;
    border-bottom: var(--height-hr1) solid darkorange;
  }
  .markdown-body h2 {
    --size: calc(1.46rem * var(--size-h-steps));
    font-size: var(--size);
    line-height: var(--size);
    border-bottom: var(--height-hr2) solid var(--fg-hr);
  }
  .markdown-body h3 {
    --size: calc(1.28rem * var(--size-h-steps));
    font-size: var(--size);
    line-height: var(--size);
    border-bottom: var(--height-hr3) solid var(--fg-hr);
  }
  .markdown-body h4 {
    --size: calc(1.19rem * var(--size-h-steps));
    font-size: var(--size);
    line-height: var(--size);
  }
  .markdown-body h5 {
    --size: calc(1.10rem * var(--size-h-steps));
    font-size: var(--size);
    line-height: var(--size);
  }
  .markdown-body h6 {
    --size: 1rem;
    font-size: var(--size);
    line-height: var(--size);
  }
  .markdown-body hr {
    background-color: var(--fg-hr);
    border: 0;
    height: var(--height-hr2);
    padding: 0;
  }

  .markdown-body blockquote {
    border-left: var(--height-hr1) solid var(--fg-hr);
    padding: 0 1rem;
    color: var(--fg-blockquote);
  }
  .markdown-body blockquote>:first-child {
    margin-top: 0px
  }
  .markdown-body blockquote>:last-child {
    margin-bottom: 0px
  }

  .markdown-body ul,
  .markdown-body ol {
    margin: 0 0;
    padding-left: 2rem;
  }
  .markdown-body ul.no-list,
  .markdown-body ol.no-list {
    list-style-type: none;
    padding: 0;
  }
  .markdown-body ul ul,
  .markdown-body ul ol,
  .markdown-body ol ol,
  .markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
  }

  .markdown-body table {
    width: 100%;
    overflow: auto;
    display: block;
    border-collapse: collapse;
  }
  .markdown-body table th {
    background-color: #ddd;
    font-weight: bold;
  }
  .markdown-body table th,
  .markdown-body table td {
    border: .1rem solid #aaa;
    padding: .5rem .7rem;
  }
  .markdown-body table tr {
    background-color: #fff
  }
  .markdown-body table tr:nth-child(2n) {
    background-color: #eee;
  }

  .markdown-body code,
  .markdown-body pre,
  .markdown-body tt {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    border: 1px solid var(--fg-border);
  }
  .markdown-body code:not(.hljs) {
    background-color: #f8f8f8;
    padding-top: 0.1rem;
  }
  .markdown-body code:before,
  .markdown-body code:after,
  .markdown-body tt:before,
  .markdown-body tt:after {
    content: "\00a0";
    letter-spacing: -0.2em
  }
  .markdown-body code br,
  .markdown-body tt br {
    display: none
  }
  .markdown-body del code {
    text-decoration: inherit;
    vertical-align: text-top
  }
  .markdown-body pre > code {
    white-space: pre; /* use `pre-wrap` to break large lines */
    border: none;
  }
  .markdown-body pre {
      overflow: auto;
      word-wrap: normal;
      white-space: pre-wrap;
  }
  .markdown-body pre tt {
      margin: 0;
      padding: 0;
      border: none;
      word-wrap: normal;
      max-width: initial;
      display: inline;
      overflow: initial;
      line-height: inherit;
  }
  .markdown-body pre code:before,
  .markdown-body pre code:after,
  .markdown-body pre tt:before,
  .markdown-body pre tt:after {
    content: normal;
  }

  .katex-display {
    font-size: 1.2rem;
    padding: 1rem 0rem;
  }
  .note__content {
    font-size: 1rem;
  }
  x-note .katex-display {
    font-size: 1rem;
    padding: 0rem 0rem;
  }
  x-note .note {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  todo {
    display: block;
    border: 5px solid magenta;
    border-radius: 0.5em;
  }
  todo::before {
    content: "TODO";
    color: magenta;
    position: relative;
    top: -0.9rem;
    line-height: 1em;
    display: block;
    left: 0;
    height: 0;
    font-size: 0.7rem;
    font-weight: bold;
  }
  fig {
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
  }
  fig > p {
    padding: 0;
    margin: 0;
  }
  remark {
    --fg-gray: rgba(128,128,128,0.3);
    display: inline;
    border: 1px dashed var(--fg-gray);
    color: darkorange;
    border-radius: 0.25rem;
    word-wrap: break-word;
  }
  html.slave remark {
    color: transparent;
    border: none;
  }
}
